* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
nav,
h4,
a {
    font-family: 'Roboto', sans-serif;
    color: #503e2a;
    text-align: center;
    text-decoration: none;

}

body {
    /*background-image: url("../img/choco-slice.jpg");*/
    background-color: #ffefef;
    font-family: 'Montserrat Alternates', sans-serif;
    /*margin: 0;
    padding: 0;*/
    font-size: 1.3rem;
}

/*HEADER*****************************************************/

/*START INFOS HOURS */
.info {
    width: 100%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    background-color: #8C6A5B;
    color: #CCC;
    text-align: center;
}

/*END INFOS HOURS*/


/*START MENUS LOGIN*/
.nav-login ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 12px;
    background-color: #f8d9e0;
    letter-spacing: 0.2em;
    list-style-type: none;
    padding: 0;
}


.nav-login ul li a {
    float: right;
    position: relative;
    color: #8C6A5B;
    margin-left: 1em;
    transition: all 0.5s ease 0s;
}

/* .nav-login ul li a:hover {
    color: #503e2a;
} */

/*.login {
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    background-color: #f8d9e0;
}*/

/*END MENUS LOGIN*/


/*LOGO*/
body {
    text-align: center;
}

.heart {
    text-align: center;
}

.logo {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*END LOGO*/


/*START SEARCH BAR*/
.search {
    margin: 40px;

    color: #503e2a;
    text-align: center;
}

/*Modification barre de recherche*/
.search input {
    border: none;
    border-radius: 20px;
    color: #8C6A5B;

}

.search input:focus {
    border: none;
}

/*END SEARCH BAR*/

/*MENUS nav Produits*/

nav {
    /*le position absolute de notre sous menu va se référencer à la nav (et non body par défaut) du coup on met relative ici*/
    position: relative;
    font-size: 1.2em;
    /* TAILLE MENU PRODUIT */
}

ul {
    /* mise en ligne du menu */
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;

}

nav ul li {
    padding: 5px 10px;


}

nav ul li a {
    text-decoration: none;
    color: #482620;
}

/* GESTION DES SOUS MENUS */
.menu {
    display: none;
    background-color: #482620;
    /* on va positionner notre sous menu en dessous du lien survolé et prenant toute la largueur de l'écran */
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 59px;
    padding: 30px 15% 40px;
    text-align: center;
    color: pink;
    /* ordre de priorité pour qu'il passe par dessus les autres éléments */
    z-index: 3;
}

.pogo a :hover a {
    color: inherit;
}

nav ul li:hover {
    background-color: #482620;
    width: 20%;
    padding: 20px;
    /* hover de la lg login mon compte */
}

nav ul li:hover a {
    color: pink;
    padding: 20px;
    /* width choisie pour que le flex wrap passe à la ligne tous les 5 liens */
    width: 20%;
}

nav>ul>li:hover .menu {
    /* mise en ligne des liens des sous menus en avec un flex wrap pour mettre les éléments en dessous selon l'espace utilisé */
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
}

/*END MENUS nav Produits*/

/*CONTENUE PRINCIPALE*/
.container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

section {
    text-align: center;
}

h1 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.ligne-moment {
    height: 2em;
    margin: auto;
    border-top: 0.2em solid #482620;
}

h2 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

/*SLIDER*/
/*.slider {}*/



/*IMAGES SLIDER A CONSERVER POUR ANIM ET TRANSITION animation: fade 0.8s;*/


@keyframes fade {

    /*animation*/
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Bouton images slider*/
/*.cont-btn {
    width: 160%;
    box-shadow: 0 10px 10px rgba(245, 7, 7, 0.3);
    background-color: #482620;
}*/

.slick-prev:before,
.slick-next:before {
    font-size: 5rem;
    color: #8C6A5B;
    opacity: 0.20;
    cursor: pointer;
    /* padding: 1em; */
}


/*.btn-nav next,
.btn-nav prev {
    font-size: 1.5em;
    margin: 0 6em;
    cursor: pointer;
    color: #CCC;
}*/

.btn-nav next::before,
.btn-nav prev::before {
    font-size: 15rem;
    color: #ebe3db;
}

/*END SLIDER*/

/*SELECTION 3 IMAGES*/
/*.selection figure {
    position: relative;
}*/
.selection {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

.box {
    transition: 1s;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;

}

.box img {
    display: block;
    margin: 40px;
    border-radius: 3px;
    background-color: #482620;

}

.box:hover {
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}

/*END SELECTION 3 IMAGES*/
/* SEPARATION LIGNE START*/
.ligne {
    height: 2em;
    margin: auto;
    border-top: 0.2em solid #482620;
}

/* SEPARATION LIGNE END*/

/*START ABOUT US**/
.post {

    /* width: 750px;
    height: 350px;
    position: relative;
    cursor: pointer; */
}

.post img {
    /* display: block;
    width: 750px;
    height: 350px; */
}

.post:hover .post-s {
    /* width: 750px;
    height: 350px;
    margin-top: -88px;
    margin-bottom: 10px; */
}

.post-s {
    width: 0px;
    height: 220px;
    background: rgba(255, 224, 234, 0.904);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 3s ease;
    /*background-position: center;
    height: 25em;
    background-image: url("../img/apropos-de-nous-acceuil.png");
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    effet souris*/
}


.post-s p {
    color: #482620;
    font-size: 25px;
    padding-bottom: 144px;
    margin-left: 135px;
}


.text {
    /*position/placement Qui nous sommes?*/
    width: 100%;
    position: relative;
    margin-top: -35%;
}

.text h4 {
    /*taille/dimension*/
    text-align: center;
    color: #CCC;
    font-size: 25px;
}

.lettre {
    padding: 40em;
}

/* BOUTON EN SAVOIR PLUS */
.btn-more a {
    font-size: 22px;
    background-color: #482620;
    border: 0.5px solid #482620;
    color: #CCC;
    position: center;

}

/*END ABOUT US*/


/*START BUTTON TOP*/
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: 0.2;
}

#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}

#backtotop.visible {
    visibility: visible;
    opacity: 0.20;
    color: white;
    background: #8C6A5B;
}

#backtotop:hover {
    opacity: 1;
    color: #482620;
    background: #8C6A5B;
}

/*END BUTTON TOP*/

/*FOOTER************************************************/


/*VERSION PHONE
@media screen and (min-width:) and (max-width: 480px) {
    .nav-login ul {

    }

    section {
        display: flex;
        flex-direction: column;
        margin: px;
        padding: px;
        height: px;
        font-size: px;
    }

    img.logo {
        height: 20px;
        font-size: 20px;
    }

    article {}
}*/


/*VERSION TABLETTE***************************************************/

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        margin: px;
        padding: px;
        height: px;
        font-size: px;
    }

    article {
        width: 100%;
    }
}

/*ORIENTATION SCREEN*/
@media screen and (orientation: landscape) {}

/*VERSION DESKTOP****************************************************/

@media screen and (max-width: 1200px) {
    section {
        flex-wrap: wrap;

    }

    article {
        width: 50%;
    }
}


/*" data-imgid="46851851" rel="hlid[=]128[&amp;]cpid[=]2075021" onclick="document.location='PBCPPlayer.asp?ID=2075021'"><div class="ox-spacer" style="height: 120px;"></div><div class="ox-text ox-margin-bottom-medium titreQsnEspacePro"><p>Qui sommes nous ?</p></div><div class="ox-spacer" style="height: 15px;"></div><div class="ox-button ox-margin-bottom-medium ox-align-center boutonQsnEspacePro"><a class="btnmain"><span>En savoir plus</span></a></div></div>*/