*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
nav,
h4,
a {
    font-family: 'Roboto', sans-serif;
    color: #503e2a;
    text-align: center;
    text-decoration: none;

}

body {
    /*background-image: url("../img/choco-slice.jpg");*/
    background-color: #ffefef;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

/*HEADER*****************************************************/

/*nav recherche mon compte panier qui nous sommes position*/
nav>ul>li {
    float: right;
    position: relative;
}

/*nav recherche mon compte panier qui nous sommes*/
nav>ul>li>a {
    padding: 5px 10px 5px 10px;
    color: #d8d8d3;
    background-color: #482620;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    width: 100%;
    background-color: #ffefef;
}

.nav-content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3.5em;
    background-color: #482620;

}

.nav-item {
    text-align: center;
    vertical-align: middle;
    padding: 5px;

}

nav>ul::after {
    content: "";
    display: block;
    clear: both;
}

/**/
nav>ul>li:hover a {
    padding: 5px 10px 5px 10px;
}


nav li {
    list-style-type: none;
    min-width: 5em;
    /*écart entre les nav côtés*/

}

.submenu {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #f78ead;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 10;
}

.submenu li {
    border-bottom: 1px solid #CCC;
    /*couleur grise*/

}

.submenu li a {
    padding: 20px 30px;
    font-size: 10px;
    color: white;
    /*écriture des produits dans menu*/
    width: 100%;
}

/*ONGLET PRODUITS SURVOLE********************************************/

.submenu {
    border-top: 5px solid #f390ad;
    color: #CCC;
    background-color: #482620;
    list-style-position: initial;
    width: max-content;

}

.submenu li:hover a {
    color: #f390ad;
    /*rose*/
    font-weight: bold;
}

.container {
    max-width: 510px;
    margin: 0 auto;
    padding: 20px;
}

/*SLIDER*/
.slider img {

    display: none;
}

/*IMAGES SLIDER*/
img.active {
    /*img possède active enfant*/
    display: block;
    animation: fade 0.8s;
    width: 750px;
    height: 350px;
    text-align: center;
}

@keyframes fade {

    /*animation*/
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Bouton images slider*/
/*.cont-btn {
    width: 160%;
    box-shadow: 0 10px 10px rgba(245, 7, 7, 0.3);
    background-color: #482620;
}*/

.cont-btn {
    font-size: 5rem;
    color: blue;
    /*#ebe3db LA VRAIE COULEUR */
    cursor: pointer;

}


/*.btn-nav next,
.btn-nav prev {
    font-size: 1.5em;
    margin: 0 6em;
    cursor: pointer;
    color: #CCC;
}*/

.btn-nav next::before,
.btn-nav prev::before {
    font-size: 15rem;
    color: #ebe3db;
}


/*SELECTION 3 IMAGES FOX*/
/*.selection figure {
    position: relative;
}*/

.selection {
    height: 100%;
    width: 100%;
    padding: 50px;
    /*margin: 50px auto;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-position: center;*/
    text-align: center;
    cursor: pointer;
    /*position: relative;*/
}

.box {
    width: 250px;
    /*margin: 0 10px;*/
    height: 300px;
    transition: 2s;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;

}

.box img {
    display: block;
    width: 100%;
    border-radius: 3px;
    background-color: #482620;

}

.box:hover {
    transform: scale(1.3);
    z-index: 3;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}


/*ABOUT US*************************************************/

.post {
    width: 750px;
    height: 350px;
    position: relative;
    cursor: pointer;
}

.post:hover .post-s {
    width: 750px;
}

.post img {
    display: block;
    width: 750px;
    height: 350px;
}

.text {
    /*position/placement Qui nous sommes?*/
    width: 100%;
    position: relative;
    margin-top: -35%;
}

.text h4 {
    /*taille/dimension*/
    text-align: center;
    color: #CCC;
    font-size: 25px;


}


.post-s {
    width: 0px;
    height: 350px;
    background: rgba(255, 224, 234, 0.904);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 3s ease;
    /*background-position: center;
    height: 25em;
    background-image: url("../img/apropos-de-nous-acceuil.png");
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    effet souris*/
}

.post-s p {
    color: #482620;
    font-size: 25px;
    padding: 1px 3px;
}

.btn-more a {
    font-size: 15px;
    background-color: #482620;
    border: 0.1px solid #482620;
    color: #CCC;
    margin: 0 auto;
}

/*START BUTTON TOP*/
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: .2;
}

#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}

#backtotop.visible {
    visibility: visible;
    opacity: 5;
    color: white;
    background: #482620;
}

#backtotop:hover {
    opacity: 1;
    color: #482620;
    background: #f390ad;
}

/*FOOTER************************************************/

/*VERSION TABLETTE***************************************************/

@media screen and (max-width: 760px) {
    section {
        display: flex;
        flex-direction: column;

    }

    article {
        width: 100%;
    }
}

/*VERSION DESKTOP****************************************************/

@media screen and (max-width: 1200px) {
    section {
        display: flex;
        flex-wrap: wrap;

    }

    article {
        width: 50%;
    }
}


/*" data-imgid="46851851" rel="hlid[=]128[&amp;]cpid[=]2075021" onclick="document.location='PBCPPlayer.asp?ID=2075021'"><div class="ox-spacer" style="height: 120px;"></div><div class="ox-text ox-margin-bottom-medium titreQsnEspacePro"><p>Qui sommes nous ?</p></div><div class="ox-spacer" style="height: 15px;"></div><div class="ox-button ox-margin-bottom-medium ox-align-center boutonQsnEspacePro"><a class="btnmain"><span>En savoir plus</span></a></div></div>*/