*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
nav,
h4,
a {
    font-family: 'Roboto', sans-serif;
    color: #503e2a;
    text-align: center;
    text-decoration: none;

}

body {
    /*background-image: url("../img/choco-slice.jpg");*/
    background-color: #ffefef;
    font-family: 'Montserrat Alternates', sans-serif;
    /*margin: 0;
    padding: 0;*/
    font-size: 1.3rem;
}

/*HEADER*****************************************************/

/*START INFOS HOURS */
.info {
    width: 100%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    background-color: #8C6A5B;
    color: #CCC;
    text-align: center;
}

/*END INFOS HOURS*/


/*START MENUS LOGIN*/
.nav-login ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 12px;
    background-color: #f8d9e0;
    letter-spacing: 0.2em;
    list-style-type: none;
    padding: 0;
}


.nav-login ul li a {
    float: right;
    position: relative;
    color: #8C6A5B;
    margin-left: 1em;
    transition: all 0.5s ease 0s;
}

.nav-login ul li a:hover {
    color: #503e2a;
}

/*.login {
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    background-color: #f8d9e0;
}*/

/*END MENUS LOGIN*/


/*LOGO*/
body {
    text-align: center;
}

.heart {
    text-align: center;
}

.logo {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*END LOGO*/


/*START SEARCH BAR*/
.search {
    margin: 40px;

    color: #503e2a;
    text-align: center;
}

/*Modification barre de recherche*/
.search input {
    border: none;
    border-radius: 20px;
    color: #8C6A5B;

}

.search input:focus {
    border: none;
}

/*END SEARCH BAR*/

/*MENUS nav Produits*/


nav {
    width: auto;
    max-width: var(--max-width);
    margin: 0;
    background-color: #482620;
}



nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 1em;
}

nav ul li {
    text-align: center;
    color: #CCC;
}

nav ul li a {
    /*Mets le menu en ligne OK*/
    /* display: inline-block; */
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    padding: 1em;
    color: pink;
    text-decoration: none;
    /* ATTAQUE LA BAR NAV DES PRODUITS */
}


.nav-item li:hover {
    cursor: pointer;
    
}

/*SUR TITRE DE LA NAV*/
/*.nav-item li a {
    color: #CCC;
    background-color: #482620;
    cursor: pointer;
    font-size: 1.2em;
    
    /* display: inline-block;
}*/

header nav ul li .sous {
    display: none;
    z-index: 1000;
    position: relative;
    padding: 0.5em;
    width: 100%
}

header nav ul>li:hover .sous {
    display: block;
    background-color: #482620;
    width: 100%;
    text-align: center;

}

/* MODIFIER POSITION TEXTE SOUS MENU */
header nav ul li .sous li {
    float: none;
    width: 100%;
    vertical-align: middle;
}


header nav ul li .sous a {
    padding: 10px;
    border-bottom: none;
}


header nav ul li .sous a:hover {
    border-bottom: none;
    background-color: #204f7f;
}


.deroulant>a::after {
    content: " ";
    font-size: 12px;
}

header nav ul::after {
    content: "";
    display: table;
    clear: both;
}



/*END MENUS nav Produits*/

/*CONTENUE PRINCIPALE*/
.container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

section {
    text-align: center;
}

h1 {
    padding-bottom: 0.5em;
}

/*SLIDER*/
/*.slider {}*/



/*IMAGES SLIDER*/
img.active {
    /*img possède active enfant*/
    display: block;
    animation: fade 0.8s;
    width: 50%;
    height: auto;
    text-align: center;
}

@keyframes fade {

    /*animation*/
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Bouton images slider*/
/*.cont-btn {
    width: 160%;
    box-shadow: 0 10px 10px rgba(245, 7, 7, 0.3);
    background-color: #482620;
}*/

.cont-btn {
    font-size: 5rem;
    color: #8C6A5B;
    opacity: 0.20;
    /*#ebe3db LA VRAIE COULEUR */
    cursor: pointer;

}

/*.btn-nav next,
.btn-nav prev {
    font-size: 1.5em;
    margin: 0 6em;
    cursor: pointer;
    color: #CCC;
}*/

.btn-nav next::before,
.btn-nav prev::before {
    font-size: 15rem;
    color: #ebe3db;
}

/*END SLIDER*/

/*SELECTION 3 IMAGES*/
/*.selection figure {
    position: relative;
}*/
.selection {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

.box {
    transition: 1s;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;

}

.box img {
    display: block;
    margin: 40px;
    border-radius: 3px;
    background-color: #482620;

}

.box:hover {
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}

/*END SELECTION 3 IMAGES*/


/*START ABOUT US**/
.post {
    width: 750px;
    height: 350px;
    position: relative;
    cursor: pointer;
}

.post img {
    display: block;
    width: 750px;
    height: 350px;
}

.post:hover .post-s {
    width: 750px;
    height: 350px;
    margin-top: -88px;
    margin-bottom: 10px;
}

.post-s {
    width: 0px;
    height: 220px;
    background: rgba(255, 224, 234, 0.904);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 3s ease;
    /*background-position: center;
    height: 25em;
    background-image: url("../img/apropos-de-nous-acceuil.png");
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    effet souris*/
}


.post-s p {
    color: #482620;
    font-size: 25px;
    padding-bottom: 144px;
    margin-left: 135px;
}


.text {
    /*position/placement Qui nous sommes?*/
    width: 100%;
    position: relative;
    margin-top: -35%;
}

.text h4 {
    /*taille/dimension*/
    text-align: center;
    color: #CCC;
    font-size: 25px;


}

/* BOUTON EN SAVOIR PLUS */
.btn-more a {
    font-size: 22px;
    background-color: #482620;
    border: 0.5px solid #482620;
    color: #CCC;
    position: center;

}

/*END ABOUT US*/


/*START BUTTON TOP*/
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: 0.2;
}

#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}

#backtotop.visible {
    visibility: visible;
    opacity: 0.20;
    color: white;
    background: #8C6A5B;
}

#backtotop:hover {
    opacity: 1;
    color: #482620;
    background: #8C6A5B;
}

/*END BUTTON TOP*/

/*FOOTER************************************************/


/*VERSION PHONE
@media screen and (min-width:) and (max-width: 480px) {
    .nav-login ul {

    }

    section {
        display: flex;
        flex-direction: column;
        margin: px;
        padding: px;
        height: px;
        font-size: px;
    }

    img.logo {
        height: 20px;
        font-size: 20px;
    }

    article {}
}*/


/*VERSION TABLETTE***************************************************/

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        margin: px;
        padding: px;
        height: px;
        font-size: px;
    }

    article {
        width: 100%;
    }
}

/*ORIENTATION SCREEN*/
@media screen and (orientation: landscape) {}

/*VERSION DESKTOP****************************************************/

@media screen and (max-width: 1200px) {
    section {
        flex-wrap: wrap;

    }

    article {
        width: 50%;
    }
}


/*" data-imgid="46851851" rel="hlid[=]128[&amp;]cpid[=]2075021" onclick="document.location='PBCPPlayer.asp?ID=2075021'"><div class="ox-spacer" style="height: 120px;"></div><div class="ox-text ox-margin-bottom-medium titreQsnEspacePro"><p>Qui sommes nous ?</p></div><div class="ox-spacer" style="height: 15px;"></div><div class="ox-button ox-margin-bottom-medium ox-align-center boutonQsnEspacePro"><a class="btnmain"><span>En savoir plus</span></a></div></div>*/